<div class="about_component">
    <mat-card class="about_card" style="text-align: center; background-image: url('assets/images/forest.jpg');">

      <mat-card-header>
        <mat-card-title>{{'about.description' | translate}}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="content">
        <h3>
          {{'about.objectivesText' | translate}}
        </h3><br/>

        <h4> 
            {{'about.obj1' | translate}}
        </h4><br/>
        <h4>
            {{'about.obj2' | translate}}
          </h4><br/>
          <h4>
            {{'about.obj3' | translate}}
          </h4><br/>
          <h4>
            {{'about.obj4' | translate}}
          </h4><br/>
          <h4> 
            {{'about.obj5' | translate}}
          </h4><br/>


          <div *ngIf="comments$ | async as comment">
            <div class="row">
              <h4>
                {{'comments_per_days' | translate}}
              </h4>
            </div>
            <div class="row">
                  <ngx-charts-bar-vertical class="chart"
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel">
                  </ngx-charts-bar-vertical>
            </div>
          
          </div>

            <div class="card">
              <h3 class="card-title">{{ 'comment' | translate }}: </h3>

              <div class="wrap">
                <label class="add_comm">{{'_username' | translate }} </label>
                <label class="add_comm">{{'message' | translate }} </label>
              </div>

                <div class="divrand" *ngFor="let comment of comments$ | async"> 
                  <input type="text" readonly class="form-control-plaintext" value={{comment.username}}>
                  <input type="text" readonly class="form-control-plaintext" value={{comment.message}}>
                </div>
            </div>

      <div class="form-group">
        <label class="add_comm">{{'add_com' | translate }}: </label>
        <input type="text" class="form-control" #message placeholder="Your message">
      </div>
      <button mat-raised-button color="primary" (click)="onSubmit($event, message)">{{ 'post_com' | translate }}</button>

      </mat-card-content>

      </mat-card>

      


</div>
