.about_component{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.add_comm{
    color: blue($color: #000000);
    flex: 1;
}

.card-title{
    color:black;   
    display: flex;
}

.wrap{
    display: flex;
    color: black;
    text-align: center;
}

.content{
    color: white;
}

.row {
    display: flex;
    color: white;
}

.chart{
    color: white;
    fill: white;
}

.divrand{
    display: flex;
}

.form-control-plaintext{
    flex: 1;
}