<div class="news_component">
    <mat-card class="news-card" style="text-align: center; background-image: url('assets/images/forest.jpg');">
        <mat-card-header>
          <mat-card-title>{{'news.articles' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div *ngFor="let item of xmlResponse">
            <a href="{{item.link}}" class='dynamicLink' > {{ item.title }} </a>
            <p></p>
          </div>
        </mat-card-content>
    
      </mat-card>
</div>
