.main {
    text-align: center;
}

.form-group{
    padding-top: 5px;
    padding-bottom: 5px;
}

.label{
    padding-top: 5px;
    padding-bottom: 5px;
}

.backdropBackground {
    filter: blur(100px);
    -webkit-filter: blur(8px);
}