<mat-card class="contact-card" style="text-align: center; background-image: url('assets/images/forest.jpg');">
	<mat-card-title>
		{{'contact.contact' | translate}}
	</mat-card-title>

    <mat-card-subtitle>
        {{this.personalName}} <br/>
        
        {{this.personalEmail}} <br/>

        {{this.personalAddress}} <br/>
    </mat-card-subtitle> <br/>

    <div>
        {{'contact.suggestions' | translate}}
    </div>
	<mat-card-content>

        <h1> {{ displaytext }}</h1>
        <agm-map class="agmmap" appDirectionsMap [showDirection]="this.displayDirections"
            [origin]="origin"
            [destination]="destination"

            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false">

            <agm-marker
                    [latitude]="latitude"
                    [longitude]="longitude">
            </agm-marker>
        </agm-map>

            <!-- <agm-map class="agmmap" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">  
                <agm-marker  [latitude]="latitude" [longitude]="longitude"></agm-marker>  
            </agm-map>   -->

		<mat-form-field class="email_field">
            <mat-label>{{'contact.email' | translate}}</mat-label>
            <input type = "email" #mail id="testEmail" matInput placeholder="insert here your mail for test">
        </mat-form-field> <br/>
        
        <mat-form-field class="comment_field">
            <mat-label>{{'contact.leaveComment' | translate}}</mat-label>
            <textarea matInput #text id="textarea" rows="5" placeholder="message suggestion...  bla bla"></textarea>
        </mat-form-field><br/>
        
        <button mat-raised-button color="primary" style="margin-right:5px;" (click)="sendMail(mail.value, text.value)">{{'contact.actionSent' | translate}}</button>


	</mat-card-content>