.profile_component{
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.image{
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.header{
  color: white;
}
